<mat-toolbar color="primary">
  <span class="spamIco">Naac Celulares <fa-icon [icon]="mobile"></fa-icon></span>
  <div class="row around-xs divContainer">
    <div class="col-xs DivNavBar">
      <a class="aDivNavBar" [routerLink]="['/']">Home</a>
      <a class="aDivNavBar" href="#ComoFunciona">Como Funciona</a>
      <a class="aDivNavBar" href="#tab">¿Eres promotor?</a>
      <a class="aDivNavBar" href="#tab">¿Eres casa de productos?</a>
    </div>

    <div class="row col-xs DivNavBar end-xs">
      <a class="aDivNavBar" [routerLink]="['/']">Ingresar</a>
      <a class="aDivNavBar" [routerLink]="['/']">Registrarse</a>
    </div>
  </div>
</mat-toolbar>

