<div class="row around-xs cuerpoTab" >
  <div class="col columnaTexto" style="width: 40%">
    <div class="">
      <pre >
        <h1>¡Encuentra la casa de producto que buscas!</h1> Encuentra las casa de productos <b>que se adapten a
        lo que tu buscas</b>

        Los beneficios que tenemos para ti:
        - Contacto directo con las casa de producto.
        - Gestion de los productos que se manejan.
        - Acceso a las redes sociales en las que las casa
        de producto que maneja el promotor tiene.

        Entre muchos otros.


        <div  >
          <b>¡Registrate y descubre mucho mas!</b>
        </div>
        <img src="../../../../../../assets/images.png" alt="Random first slide" width="300px" style="box-shadow: 21px 12px 20px -1px rgba(0,0,0,0.22);">
      </pre>
    </div>
  </div>
  <div class="col columnaTexto" >
    <div class="columna img"> <img src="../../../../../../assets/973002be-0290-4671-8dc2-ad9f7df93c2a.jpg" alt="Random first slide" width="100%"></div>
  </div>
</div>
