<div class="row around-xs cuerpoTab" >
  <div class="col columnaTexto" style="width: 40%" >
    <div class="">
      <pre>
        <h1>¡Estas en el lugar correcto!</h1> Aqui encontraras los mejores promotores para <b>potenciar tu
        casa de productos</b>

        Los beneficios que tenemos para ti:
        - contacto directo con los promotores que obtengas.
        - Poder solicitar a un promotor sus servicios.
        - Promocionar tus productos con tus promotores por
        medios de tus redes sociales, y por aqui mismo.

        Entre otros beneficios.

        <div>
          <b>¡Registrate y descubre mucho mas!</b>
        </div>
        <img src="../../../../../../assets/images.png" alt="Random first slide" width="300px" style="box-shadow: 21px 12px 20px -1px rgba(0,0,0,0.22);">
      </pre>
    </div>
  </div>
  <div class="col columnaTexto">
    <div class="columna img"> <img src="../../../../../../assets/fdadbbba-1867-4b9d-abee-bd2b86dce34d.jpg" alt="Random first slide" width="100%" ></div>
  </div>
</div>
