<div class="divContainer">
  <section>
    <ngb-carousel >
      <ng-template ngbSlide >
        <div class="picsum-img-wrapper">
          <img src="../../../../assets/7607820d-3068-49a0-a2f4-1ddc6918761f.jpg" alt="Random first slide" width="100%">
        </div>
        <div class="carousel-caption">
          <h1>¿Por que Naac Celulares?</h1>
          <h1>Somos la mejor forma de maximizar la rentabilidad de tus ventas de dispositivos moviles, distribuir material publicitario por medio de los promotores.</h1>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="../../../../assets/24fced79-b4da-473f-80ff-6f7caf3433a4.jpg" alt="Random second slide" width="100%">
        </div>
        <div class="carousel-caption">
          <h1>¿Que Ofrecemos?</h1>
          <h1 >Una Herramienta completa que permite al promotor tener un contacto directo con sus casas del producto.</h1>
        </div>
      </ng-template>
    </ngb-carousel>


    <hr>

    <app-tab-promotor-casa></app-tab-promotor-casa>

    <hr>
    <br>
    <div style="width: 100%; text-align: center">
      <h1>Naac Celulares, ¿A que sectores apuntamos?</h1>
    </div>
    <br>
    <div class="row around-xs cuerpoTab" >
      <div class="col columnaTexto" >
        <div class="columna "> <img  class="imgDirigido" src="../../../../../../assets/57f5d4a5-3216-4b2c-ae8d-f7e7dd32c191.jpg" alt="Random first slide" width="100%"></div>
      </div>
      <div class="col columnaTexto">
          <div class="" >
              <h1>¡Al sector tecnologico en el area de dispositivos moviles!</h1> A todos esos promotores que quieran promover
              a casas de productos que deseen darse a conocer y a todos las casa de productos que busquen ayuda para dar a
              conocer su negocio.
          </div>
      </div>

    </div>

  </section>

  <div>


  </div>

</div>
